# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project and makefile related files
*.in
*.b32
*.bcc
*.bdsproj
*.bkl
*.dmc
*.dms
*.dsp
*.dsw
*.g95
*.gcc
*.mms
*.pbxproj
*.plist
*.pro
*.sl
*.sln
*.unx
*.va
*.vc
*.vcp
*.vcproj
*.vcw
*.vms
*.wat
